# **DATABSE :**

**MONGODB :**

*PRACTICAL QUESTIONS :*

**1. Write a Python script to load the Superstore dataset from a CSV file into MongoDB.**

**Answer -**

# EXPLAINATION :

Connect to MongoDB with PyMongo, read the CSV with pandas, convert the DataFrame to a list of dictionaries, and use insert_many() to insert documents into the Orders collection.

# Code:

import pandas as pd

from pymongo import MongoClient

    client = MongoClient("mongodb://localhost:27017/")

    db = client["superstore_db"]
    collection = db["Orders"]

data = pd.read_csv("Superstore.csv", encoding="latin1")

records = data.to_dict(orient="records")

collection.insert_many(records)

print("Dataset loaded successfully into MongoDB.")

# Expected Output / Result (from your dataset):

Dataset loaded successfully into MongoDB.

(Your dataset contains 9994 rows — so insert_many would insert 9994 documents.)

**2. Retrieve and print all documents from the Orders collection.**

**Answer -**

# Explaination :

Use find() to iterate all documents. For printing on console use a loop; for assignment, show sample output or mention total count.

# Code:

for doc in collection.find():
    
    print(doc)

# Expected Output / Result (summary):

This will print all 9994 documents. (Too long to paste here — print few documents to verify, e.g., collection.find().limit(5).)

**3. Count and display the total number of documents in the Orders collection.**

**Answers -**

# Explaination:

Use count_documents({}) to get the total number of documents.

# Code:

    count = collection.count_documents({})
    
    print("Total number of documents:", count)

# Expected Output / Result:

Total number of documents: 9994

**4. Write a query to fetch all orders from the "West" region.**

**Answer -**

# Explaination:

Filter documents by the Region field equal to "West".

# Code:

    west_orders = collection.find({"Region": "West"})

for order in west_orders:
    
    print(order)

# Expected Output / Result:

Number of orders in West region: 3203.
(Will print those 3203 documents; show a few sample documents when handwriting.)

**5. Write a query to find orders where Sales is greater than 500.**

**Answers -**

# Explaination:

Use a range query with $gt for the Sales field.

# Code:

    high_sales = collection.find({"Sales": {"$gt": 500}})

for order in high_sales:
    
    print(order)

Optionally show count:

print("Count of orders with Sales > 500:", collection.count_documents({"Sales": {"$gt": 500}}))

# Expected Output / Result:

Count of orders with Sales > 500: 1162

(There are 1162 orders whose Sales value is greater than 500.)

**6. Fetch the top 3 orders with the highest Profit.**

**Answer -**

# Explaination:

Sort by Profit in descending order and limit(3).

# Code:

top_profit = collection.find().sort("Profit", -1).limit(3)

for doc in top_profit:

    print(doc)

# Expected Output / Result (top 3 rows):

(From your dataset — list these three succinctly when handwriting)

  - Order ID: CA-2016-118689 — Profit: 8399.976 — Sales: 17499.95 — Region: Central — Category: Technology

  - Order ID: CA-2017-140151 — Profit: 6719.9808 — Sales: 13999.96 — Region: West — Category: Technology

  - Order ID: CA-2017-166709 — Profit: 5039.9856 — Sales: 10499.97 — Region: East — Category: Technology

**7. Update all orders with Ship Mode as "First Class" to "Premium Class."**

**Answer -**

# Explaination:

Use update_many() with a filter on Ship Mode and $set to change it.

# Code:

result = collection.update_many(
    
    {"Ship Mode": "First Class"},
    
    {"$set": {"Ship Mode": "Premium Class"}}
)
print(result.matched_count, "matched,", result.modified_count, "modified")

# Expected Output / Result:

matched: 1538, modified: 1538 (There are 1538 documents where Ship Mode was "First Class" — after update they will be "Premium Class".)


Note: If you run this a second time the matched_count would be 0 because values are already updated.

**8. Delete all orders where Sales is less than 50.**

**Answer -**

# Explaination:

Use delete_many() with a condition {"Sales": {"$lt": 50}}.

# Code:

    result = collection.delete_many({"Sales": {"$lt": 50}})

    print(result.deleted_count, "documents deleted.")

# Expected Output / Result:

4849 documents deleted.

(Your dataset has 4849 rows with Sales < 50 — this deletion will remove them.)

**9. Use aggregation to group orders by Region and calculate total sales per region.**

**Answer -**

# Explaination:

Use an aggregation pipeline with $group on Region and $sum on Sales.

# Code:

pipeline = [
    
    {"$group": {"_id": "$Region", "Total_Sales":
    
    {"$sum": "$Sales"}}}
]
region_sales = list(collection.aggregate(pipeline))

for r in region_sales:
    
    print(r)

# Expected Output / Result:

Total sales per region (approximate values from dataset):

  - Central: 501239.8908

  - East: 678781.24

  - South: 391721.905

  - West: 725457.8245

**10. Fetch all distinct values for Ship Mode from the collection.**

**Answer -**

# Explaination:

Use distinct() on the Ship Mode field.

# Code:

    ship_modes = collection.distinct("Ship Mode")

    print("Distinct Ship Modes:", ship_modes)

# Expected Output / Result:

Distinct Ship Modes: ['Second Class', 'Standard Class', 'First Class', 'Same Day']

(These four distinct ship modes appear in the dataset.)

**11. Count the number of orders for each category.**

**Answer -**

# Explaination:

Aggregate by Category and count documents using $sum: 1.

# Code:

pipeline = [
    
    {"$group": {"_id": "$Category",
    "Order_Count": {"$sum": 1}}}
]

category_counts = list(collection.aggregate(pipeline))

for c in category_counts:
    
    print(c)

# Expected Output / Result:

Order counts per category (from your dataset):

  - Office Supplies: 6026

  - Furniture: 2121

  - Technology: 1847